* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    /* Body Styling */
    body {
      font-family: 'Roboto', sans-serif;
      background: #F0F4F8;
      color: #333;
    }

    /* Container styling */
    .container {
      width: 100%;
      max-width: 800px;
      background-color: #ffffff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }
	
	

    /* Header styling */
    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
    }

    .checkboxes {
      margin-bottom: 20px;
    }

    .checkboxes label {
      margin-right: 20px;
    }

    /* Upload button and options */
    .upload-options {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }

    .upload-options input[type="file"] {
      display: none;
    }

    .file-upload-btn {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
	  width:160px;
    }

    /* Text area for content */
    .text-area-container {
      margin-bottom: 20px;
    }

    .text-area-container textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
      height: 150px;
      resize: none;
    }

    /* Folder selection */
    .folder-options {
      margin-bottom: 20px;
    }

    .folder-options select, .folder-options input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
    }

    /* Submit Button */
    .submit-btn {
      width: 40%;
      padding: 12px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    .submit-btn:hover {
      background-color: #0056b3;
    }

    /* Log Section */
    .log-section {
      background-color: #2C3E50;
      color: white;
      padding: 20px;
      border-radius: 8px;
      max-height: 250px;
      max-width: 600px;
      overflow-y: auto;
      margin-top: 30px;
      width: 100%;
    }

    #log-content {
      white-space: pre-wrap;
      word-wrap: break-word;
      font-family: 'Courier New', Courier, monospace;
      color: #ddd;
      font-size: 14px;
      max-height: 100%;
      overflow: hidden;
    }

    /* Media queries for smaller screens */
    @media screen and (max-width: 600px) {
      .container {
        padding: 15px;
      }

      .checkboxes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .checkboxes label {
        margin-bottom: 10px;
      }
    }
